<div class="modal fade" tabindex="-1" role="dialog" id="userFormModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <form name="userForm" class="form-horizontal" novalidate>

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{ data.modalTitle }}</h4>
        </div>
        <div class="modal-body">

          <div class="well bs-component">

            <fieldset>

              <div class="form-group">
                <label for="firstName" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">First Name</label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" name="firstName" id="firstName" ng-model="data.user.firstName" required autocomplete="off">
                  <span ng-show='userForm.firstName.$invalid'>Please enter First Name!</span>
                </div>
              </div>

              <div class="form-group">
                <label for="lastName" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Last Name</label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" name="lastName" id="lastName" ng-model="data.user.lastName" required>
                  <span ng-show='userForm.lastName.$invalid'>Please enter Last Name!</span>
                </div>
              </div>

              <div class="form-group">
                <label for="email" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Email</label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                  <input type="email" name="email" class="form-control" id="email" ng-model="data.user.email" required>
                  <span ng-show='userForm.email.$invalid'>Please enter Email!</span>
                </div>
              </div>

              <div class="form-group">
                <label for="age" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Age</label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" name="age" id="age" ng-model="data.user.age" required>
                  <span ng-show='userForm.age.$invalid'>Please enter Age</span>
                </div>
              </div>

              <div class="form-group">
                <label for="optionsRadios" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Gender</label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" ng-model="data.user.gender" ng-checked="data.user.gender == 'male'" required value="male">
                      Male
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" ng-model="data.user.gender" ng-checked="data.user.gender == 'female'" value="female">
                      Female
                    </label>
                  </div>

                </div>
              </div>

              <div class="form-group">
                <label for="password" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Password</label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                  <input type="password" class="form-control" name="password" id="password" ng-model="data.user.password" ng-required="data.required">
                  <span ng-show='userForm.password.$invalid'>Please enter Password</span>
                </div>
              </div>

              {{ data.user.roles }}
              <div class="form-group">
                <label for="inputEmail" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Roles</label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                  <select class="form-control" id="roles" name="roles" required multiple ng-model="data.user.roles">
                    <option ng-repeat="role in data.allRoles" value="{{role.name}}" ng-selected="{{ data.user.roles }}">
                      {{role.fullName}}
                    </option>
                  </select>
                </div>
              </div>

            </fieldset>


          </div>



        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary"  ng-click="editUser(data.user.id);" ng-show="data.editButtonFlag">Save changes</button>
          <button type="submit" class="btn btn-primary"  ng-click="createUser()" ng-show="data.createButtonFlag">Submit </button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
