<%- partial ('partials/navbar.ejs') %>

<div class="container">
  <div class="row">
    	<div class="col-lg-12">
    		<h2>Dashboard</h2>
    		<hr>
            <div id="chart_div"></div>
        </div>
        
  </div>
</div>

<!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Roles');
        data.addColumn('number', 'count');
        data.addRows([
        	<% for(var i=0; i<aggregateResult.length; i++) {%>
        	['<%= aggregateResult[i]._id %>', <%= aggregateResult[i].count %>],
        	<% } %>
        ]);

        // Set chart options
        var options = {'title':'How many admins greater than age 40 group by their roles',
                       'width':550,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
