<div ng-controller="ctrlLogin" class="loginmodal-container">
  <h1>Admin Login</h1><br>
  <form>
    <input type="text" ng-model="email" name="email" placeholder="Email">
    <input type="password" ng-model="password" name="pass" placeholder="Password">
    <input type="submit" name="login" ng-click="submit();" class="login loginmodal-submit" value="Login">
  </form>
</div>