<div class="login-cont">
<div ng-controller="ctrlLogin" class="loginmodal-container" required>
  <h1>Sailsjs Admin Login</h1>

  <div class="row login-sub">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">{{date | date:'d MMMM, y'}} </div>
  </div>

  <form class="form" name="loginForm" novalidate ng-submit="login()">

    <div class="form-group inner-addon right-addon" ng-class="{'has-error':loginForm.email.$invalid && loginForm.email.$dirty,
    'has-success':loginForm.email.$valid && loginForm.email.$dirty}">
      <i class="glyphicon glyphicon-user"></i>
      <input type="email" name="email" id="username" class="form-control" ng-model="user.email" required placeholder="Email Address" />
      <p class="help-block" ng-show="loginForm.email.$invalid && loginForm.email.$dirty">
        Invalid Email Address
      </p>
    </div>

    <div class="form-group inner-addon right-addon" ng-class="{'has-error':loginForm.password.$invalid && loginForm.password.$dirty,
    'has-success':loginForm.password.$valid && loginForm.password.$dirty}">
      <i class="glyphicon glyphicon-lock"></i>
      <input type="password" id="password" name="password" class="form-control" ng-model="user.password" required placeholder="Password" />
      <p class="help-block" ng-show="loginForm.password.$invalid && loginForm.password.$dirty">
        Invalid Password
      </p>
    </div>

    <div class="form-group" ng-class="">
      <button class="btn btn-success" type="submit" > Login</button>
    </div>

    <div class="row login-sub">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><br>Developed by Navdeep & Saravanan<br>&copy; 2016 by Publicis</div>
    </div>


  </form>

</div>
</div>
