
<div ng-app="app" ng-controller="ctrlLogin" class="loginmodal-container" required>
  <h1>Admin Login</h1><br>

  <form class="form" name="loginForm" novalidate ng-submit="login()">

    <div class="form-group" ng-class="{'has-error':loginForm.email.$invalid && loginForm.email.$dirty,
    'has-success':loginForm.email.$valid && loginForm.email.$dirty}">
      <label for="" class="control-lable">Email</label>
      <input type="email" name="username" id="username" class="form-control" ng-model="user.email" required />
      <p class="help-block" ng-show="loginForm.email.$invalid && loginForm.email.$dirty">
        Invalid Email Address
      </p>
    </div>

    <div class="form-group" ng-class="{'has-error':loginForm.password.$invalid && loginForm.password.$dirty,
    'has-success':loginForm.password.$valid && loginForm.password.$dirty}">
      <label for="" class="control-lable">Password</label>
      <input type="password" id="password" name="password" class="form-control" ng-model="user.password" required />
      <p class="help-block" ng-show="loginForm.password.$invalid && loginForm.password.$dirty">
        Invalid Password
      </p>
    </div>

    <div class="form-group" ng-class="">
      <button class="btn btn-primary" type="submit" ng-disabled="loginForm.$invalid"> Login</button>
    </div>

  </form>

</div>
