.container{
	/*padding-top: 75px;*/
}
.review {
	padding-bottom: 5px;
}
.panel-body.review-container {
	padding-top: 0;
}
.review-header {
	margin-bottom: 10px;
}
.reviewAuthor {
	margin: 0 5px;
}
.reviewTimestamp {
	color: #ccc;
}


@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  width: 450px;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 2.5em;
  margin: 0;
  color: #fff;
  padding: 0 0 10px;
  font-weight: 700;
}
html,body {
  height:100%;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}
.login-cont{
  background: #2a97d2;
  height:100%;
}
.login-sub {
  color: #fff;
  font-weight: 300;
  font-size: 1em;
  padding: 0 0 30px;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.login-cont button{
  width: 100%;
  padding: 11px 12px 9px;
  font-size: 16px;
}
.designCheckbox {
  background:url("../images/ico-check.png") no-repeat left top;
  display: block;
  height: 14px;
  float:left;
  margin-right: 5px;
  width: 14px;
}
.active {
  background-position:left bottom;
}
input.inputNone {
  position: absolute;
  left: -1000px;
}
/* enable absolute positioning */
.inner-addon {
  position: relative;
}
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

